* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  background-color: aliceblue;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
.create {
  display: flex;
  width: 75%;
  justify-content: flex-end;
  align-items: center;
  /* border: 2px solid red; */
  margin-top: 1rem;
}
.create button {
  background-color: #009879;
  color: white;
  padding: 10px 20px;
  font-size: 17px;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.content-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 1em;
  min-width: 75%;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}
.eddel {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.eddel button {
  background-color: #009879;
  color: white;
  padding: 10px 20px;
  font-size: 17px;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  cursor: pointer;
}
.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}
.form-box {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  width: 35%;
  background-color: rgb(197, 192, 192);
  /* height: 35%; */
  border-radius: 10px;
  padding: 30px;
  gap: 1rem;
}
.form-name {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.form-name input {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  font-size: 17px;
  padding: 10px;
  outline: none;
  border: none;
}
.form-email {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.form-email input {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  font-size: 17px;
  padding: 10px;
  outline: none;
  border: none;
}
.form-phone {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.form-phone input {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  font-size: 17px;
  padding: 10px;
  outline: none;
  border: none;
}
.label-text {
  font-size: 20px;
  font-weight: 500;
}
.submit-btn {
  display: flex;
}
.submit-btn button {
  background-color: rgb(46, 46, 245);
  color: white;
  padding: 10px 20px;
  font-size: 17px;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  cursor: pointer;
}
