@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 
.user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 45vw;
  margin-top: 50px;
}

.user-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 40vw;
  margin-top: 20px;
}

.user-data {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 40vw;
}

.search {
  width: 200px;
  height: 27px;
  font-size: 17px;
}

body {
  background: lightpink;
}

nav {
  display: flex;
  height: 70px;
  background-color: brown;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.navlink {
  display: flex;
  gap: 2rem; */
/* padding: 20px; */
/* align-items: center;
} */

/* .navlink a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 1.2rem;
  font-family: "Comfortaa", cursive;
  transition: 0.2s ease-in-out;
  font-weight: 600;
}
.navlink .active a {
  color: #ff7917;
}
.navlink a:hover {
  color: #ff7917;
}

h1 {
  font-family: "Comfortaa", cursive;
  margin-bottom: 50px;
}

.container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25vw;
  height: 60vh;
  top: 23%;
  left: 35%;
  background-color: #f3f3f3;
  box-shadow: 1px 1px 1px 1px;
  border-radius: 10px;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  font-family: "Comfortaa", cursive;
}

.name {
  width: 20vw;
  height: 35px;
  font-size: 20px;
  border-radius: 5px;
  font-family: "Comfortaa", cursive;
  box-shadow: 1px 1px 1px 1px rgb(180, 159, 201);
  border: none;
  outline: none;
}

.email {
  width: 20vw;
  height: 35px;
  font-size: 20px;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px rgb(180, 159, 201);
  font-family: "Comfortaa", cursive;
  border: none;
  outline: none;
}

.phnum {
  width: 20vw;
  height: 35px;
  font-size: 20px;
  border-radius: 5px;
  font-family: "Comfortaa", cursive;
  box-shadow: 1px 1px 1px 1px rgb(180, 159, 201);
  border: none;
  outline: none;
}

.btn {

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 20vw;
}

button {
  font-size: 20px;
  background-color: #3498db;
  color: white;
  border-radius: 3px;
  padding: 5px 5px 5px 5px;
  cursor: pointer;
  border: none;
  box-shadow: 1px 1px 1px 1px black;
  margin-top: 30px;
}

.searchbar {
  margin-top: 50px;
  text-align: center;
}

.searchbar input {
  padding: 5px 10px;
  height: 40%;
  width: 20vw;
  height: 5vh;
  font-size: 20px;
  outline: none;
  border-radius: 5px;
  font-family: "Comfortaa", cursive;
  box-shadow: 1px 1px 1px 1px grey;
  border: none;
}

.count {
  font-size: 25px;
  font-weight: bold;
  position: relative;
  left: 150px;
  bottom: 25px;
}
.icons {
  font-size: 25px;
  color: white;
}
.sideNav {
  flex-direction: column;
  display: flex;
  position: absolute;
  top: 70px;
  right: 0;
  background-color: rgb(245, 100, 100);
  align-items: center;
  width: 225px;
  height: calc(100vh - 70px);
  gap: 2rem;
  padding-top: 20px;
  transition: 0.3s all ease;
  z-index: -3;
}
.hidden {
  right: -100%;
}
.sideNav a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 1.2rem;
  font-family: "Comfortaa", cursive;
  transition: 0.2s ease-in-out;
  font-weight: 600;
}
.sideNav .active a {
  color: blueviolet;
}
.sideNav a:hover {
  color: blueviolet;
} */

/* .outer-bar {
  display: flex;
  align-items: flex-start;
  width: 500px;
  height: 30px;
  border-radius: 15px;
  background-color: grey;
  margin-top: 1rem;
}
.inner-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  border-radius: 15px;
  background-color: orangered;
  transition: 1.5s ease 0.3s;
} */
/* .password-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.pass-box {
  display: flex;
  margin-top: 1rem;
  position: relative;
}
.pass-box input {
  width: 250px;
  height: 30px;
  outline: none;
  font-size: 17px;
  padding: 5px;
  padding-right: 10px;
  overflow: hidden;
}
.off {
  position: absolute;
  right: 10px;
  top: 5.5px;
  font-size: 20px;
  cursor: pointer;
} */

.product_container {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 3rem;
}
.product_box {
  display: flex;
  flex-direction: column;
  text-align: center;
  cursor: pointer;
  background: rgb(231, 231, 231);
  border-radius: 5px;
  gap: 1rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 20px;
  color: black;
}
.product_box img {
  width: 275px;
  height: 250px;
  object-fit: cover;
}
.pages {
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.pages button {
  background-color: rgb(48, 115, 239);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 3px;
  font-size: 17px;
  padding: 10px 15px;
  cursor: pointer;
}
.pages button.active {
  background-color: orangered;
}
.search_box {
  display: flex;
  width: 100%;
  justify-content: center;
  align-content: center;
  margin-top: 2rem;
}
.search_box input {
  width: 500px;
  height: 40px;
  outline: none;
  font-size: 17px;
  padding: 10px;
  border: none;
  border-radius: 3px;
  box-shadow: 2px 2px 2px 2px rgb(151, 150, 150);
}
.loader_div {
  display: flex;
  width: 100%;
  padding: 1rem;
  justify-content: center;
  align-items: center;
}
