@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.light-theme {
  --main-container: #fff;
  --box-container: #f8f8f8;
  --text-color: #111b20;
  --btn-text-color: #fff;
  --content-color: rgb(246, 224, 224);
  --bg-clr: #111b20;
  --btn-bg-color: #111b20;
}
.dark-theme {
  --main-container: #111b20;
  --box-container: #5c5e5f;
  --text-color: #fff;
  --btn-text-color: #111b20;
  --bg-clr: #fff;
  --content-color: #5c5e5f;
  --btn-bg-color: #f8f8f8;
}

.main_container {
  background-color: var(--main-container);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: 50%;
  /* height: 500px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--box-container);
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgb(175, 173, 173);
  padding: 3rem;
}
.heading {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  /* border: 2px solid red; */
  align-items: center;
}
.heading h2 {
  font-size: 30px;
  letter-spacing: 1px;
  color: var(--btn-bg-color);
}
.accordion_wrapper {
  display: flex;
  flex-direction: column;
  /* border: 2px solid blue; */
  margin-top: 2rem;
  overflow-y: scroll;
  height: 500px;
}
.accordion_block {
  margin-bottom: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: var(--btn-text-color);
  box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.03);
}
.accord_box {
  display: flex;
  /* border: 2px solid yellow; */
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: all 0.5s;
  padding: 10px;
}
.accord_box h3 {
  color: var(--bg-clr);
}
.content {
  margin-top: 5px;
  display: flex;
  border-radius: 5px;
  background-color: var(--content-color);
  padding: 10px;
}
.content p {
  color: var(--bg-clr);
}
.icon {
  color: var(--bg-clr);
}
.btn {
  display: flex;
  width: 100%;
  /* border: 2px solid red; */
  justify-content: flex-end;
}
.btn-bg {
  padding: 10px;
  border-radius: 5px;
  color: var(--btn-text-color);
  background-color: var(--btn-bg-color);
  font-size: 17px;
  cursor: pointer;
}
